<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <script src="https://kit.fontawesome.com/23bf6444a3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    
</head>
<body class="home__body">
    <header class="home__header">
        <section class="home__section">
            
           <div class="home__header__mobile"> <img class="home__logo" src="/images/logo-mercado-liebre.svg" alt="Logo" width="100%">
           </div>
           <div>
             <form action="">
                <input type="text" placeholder="Buscar productos, marcas" id="search">
            </form>
        </div>
        
           
            <div class="home__header__div">
            <i class="fa-solid fa-hand-holding-dollar"> <div id="home__compra">Comprá en cuotas y sin tarjeta de crédito</div> </i>
            
           </div>
        </section>
           <section class="home__nav__general">
            <nav class="home__navbar">
            <ul>
                <li><a href=""></a>Ofertas</li>
                <li><a href=""></a>Tiendas Oficiales</li>
                <li><a href=""></a>Vender</li>
                <li><a href=""></a>Ayuda</li>
            </ul>
            </nav>
            <nav class="home__navbar__icon">
                <ul>  
                <li><a href=""></a>Crea tu cuenta <i class="fa-regular fa-id-card"></i></li>
                <li><a href=""></a>Ingresá <i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href=""></a>Mis compras <i class="fa-solid fa-basket-shopping"></i></li>
             </ul>
           </nav>
        </section>
             <div id="home__hamburguer">
                <i class="fas fa-bars"></i>
            </div>
    </header>
    
<img src="/images/img-home-banner.jpg" alt="Banner Home" width="100%">
    
    <main class="home__articulos">
        <h3> Basado en tu última visita</h3>
        
        <section>
            <div class="articulos__fila-uno">
                <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Imagen Cafetera" width="100%">
                
                <div class="home__articulos__detalles">
                <i class="fa-solid fa-truck"></i>
                <p class="article__precio">$6.770 </p>
                <p class="
                article__descuento">40% OFF</p>
            </div>
                <div class="home__articulos__nombre">
                    <h4>Cafetera Moulinex</h4>
                </div>
                
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="Imagen macbook" width="100%">
                 
                <div class="home__articulos__detalles">
                <i class="fa-solid fa-truck"></i>   
                <p class="article__precio">$230.000 </p>
                <p class="
                article__descuento">20% off</p>
                </div>
                <div class="home__articulos__nombre">
                <h4>MacBook Pro 2019</h4>
                </div>
            </article>
        </div>
        <div class="articulos__fila-dos">   
        <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy s10" width="100%">
                 
                <div class="home__articulos__detalles">
                <i class="fa-solid fa-truck"></i>
                <p class="article__precio">$70.500 </p>
                <p class="
                article__descuento">10% off</p>
                </div>
                <div class="home__articulos__nombre">
                <h4>Samsung Galaxy S10</h4>
                </div>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="Smart tv samsung" width="100%">
                 
                <div class="home__articulos__detalles">
                <i class="fa-solid fa-truck"></i>
                <p class="article__precio">$23.200 </p>
                <p class="
                article__descuento">5% off</p>
                </div>
                <div class="home__articulos__nombre">
                <h4>SmartTv Samsung 43"</h4>
                </div>
            </article>
        </div>
        </section>
        <h3>Ofertas</h3>
        <section>
           
            <div class="articulos__fila-uno">
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Imagen Cafetera" width="100%">
                <div class="home__articulos__detalles">
                <i class="fa-solid fa-truck"></i>
                <p class="article__precio">$6.770 </p>
                <p class="
                article__descuento">40% OFF</p>
                </div>
                <div class="home__articulos__nombre">
                <h4>Cafetera Moulinex</h4>
                </div>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="Imagen macbook" width="100%">
                <div class="home__articulos__detalles">
                <i class="fa-solid fa-truck"></i>
                <p class="article__precio">$230.000 </p>
                <p class="
                article__descuento">20% off</p>
                </div>
                <div class="home__articulos__nombre">
                <h4>MacBook Pro 2019</h4>
                </div>
            </article>
        </div>
        <div class="articulos__fila-dos">  
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy s10" width="100%">
               <div class="home__articulos__detalles"> 
                <i class="fa-solid fa-truck"></i>
                <p class="article__precio">$70.500 </p>
                <p class="
                article__descuento">10% off</p>
               </div>
               <div class="home__articulos__nombre">
                <h4>Samsung Galaxy S10</h4>
                </div>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="Smart tv samsung" width="100%">
                <div class="home__articulos__detalles">
                <i class="fa-solid fa-truck"></i>
                <p class="article__precio">$23.200 </p>
                <p class="
                article__descuento">5% off</p>
                </div>
                <div class="home__articulos__nombre">
                <h4>SmartTv Samsung 43"</h4>
                </div>
            </article>
        </div>
        </section>
    </main>
    <footer>
        <section>
            <div id="home__tarjeta">
                <i class="fa-solid fa-credit-card"></i>
            </div>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!
        </section>
        <section >
            <div>
                <i class="fa-solid fa-gift"></i>
            </div>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.
        </section>
        <section >
            <div>
                <i class="fa-solid fa-user-shield"></i>
            </div>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.
        </section>
        <section>
            <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
        </section>
    </footer>
</body>
</html>