<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <script src="https://kit.fontawesome.com/23bf6444a3.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <section>
            <img src="/images/logo-mercado-liebre.svg" alt="Logo" width="100%">
           <i class="fa-solid fa-magnifying-glass"> <h4>aca va la barra de busqueda</h4></i>
           <div>
            <i class="fa-solid fa-hand-holding-dollar"></i>
            <h5>Comprá en cuotas y sin tarjeta de crédito</h5>
           </div>
           <nav>
            <i class="fa-solid fa-bars"></i>
            <ul>
                <li><a href=""></a>Ofertas</li>
                <li><a href=""></a>Tiendas Oficiales</li>
                <li><a href=""></a>Vender</li>
                <li><a href=""></a>Ayuda</li>
                <br>
                <li><a href=""></a>Crea tu cuenta</li>
                <li><a href=""></a>Ingresá</li>
                <li><a href=""></a>Mis compras</li>
             </ul>
           </nav>
            </section>
    </header>
    <img src="/images/img-home-banner.jpg" alt="Banner Home" width="100%">
    <main>
        <section>
            <h3> Basado en tu última visita</h3>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Imagen Cafetera" width="100%">
                <p>$6.770</p> 
                <p>40% OFF</p>
                <h4>Cafetera Moulinex</h4>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="Imagen macbook" width="100%">
                <p>$230.000</p> 
                <p>20% off</p>
                <h4>MacBook Pro 2019</h4>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy s10" width="100%">
                <p>$70.500</p> 
                <p>10% off</p>
                <h4>Samsung Galaxy S10</h4>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="Smart tv samsung" width="100%">
                <p>$23.200</p> 
                <p>5% off</p>
                <h4>SmartTv Samsung 43"</h4>
            </article>
        </section>
        <section>
            <h3>Ofertas</h3>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Imagen Cafetera" width="100%">
                <p>$6.770</p> 
                <p>40% OFF</p>
                <h4>Cafetera Moulinex</h4>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="Imagen macbook" width="100%">
                <p>$230.000</p> 
                <p>20% off</p>
                <h4>MacBook Pro 2019</h4>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy s10" width="100%">
                <p>$70.500</p> 
                <p>10% off</p>
                <h4>Samsung Galaxy S10</h4>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="Smart tv samsung" width="100%">
                <p>$23.200</p> 
                <p>5% off</p>
                <h4>SmartTv Samsung 43"</h4>
            </article>
        </section>
    </main>
    <footer>
        <section>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        <section>
            <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
        </section>
    </footer>
</body>
</html>