<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercado Liebre</title>
    <script
      src="https://kit.fontawesome.com/23bf6444a3.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header class="home__header">
      <section class="home__section">
          
         <div class="home__header__mobile"> <img class="home__logo" src="/images/logo-mercado-liebre.svg" alt="Logo" width="100%">
         </div>
         <div class="home__header__form">
           <form action="">
              <input type="text" placeholder="Buscar productos, marcas" id="search">
          </form>
      </div>
      
         
          <div class="home__header__div">
          <i class="fa-solid fa-hand-holding-dollar"> <div id="home__compra">Comprá en cuotas y sin tarjeta de crédito</div> </i>
          
         </div>
      </section>
         <section class="home__nav__general">
          <nav class="home__navbar">
          <ul>
              <li><a href="">Ofertas</a></li>
              <li><a href="">Tiendas Oficiales</a></li>
              <li><a href="">Vender</a></li>
              <li><a href="">Ayuda</a></li>
          </ul>
          </nav>
          <nav class="home__navbar__icon">
              <ul>  
              <li><a href="/register">Crea tu cuenta <i class="fa-regular fa-id-card"></i></a></li>
              <li><a href="">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
              <li><a href="">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
           </ul>
         </nav>
      </section>
           <div id="home__hamburguer">
              <i class="fas fa-bars"></i>
          </div>
  </header>
<main>
    

    <section class="main__section">
        <h1>Ingresa</h1>
        
        <form action="/login" method="post">
           
          <div class="main__section__form--label"><label> Ingrese su usuario</label>
    
                <input type="text"class="main__section__form__input" placeholder="Nombre de Usuario" required>
              </div>      
            
        
            <div class="main__section__form--label"><label>Ingrese su contraseña</label>
    
                <input type="password" class="main__section__form__input"placeholder="Contraseña" id="contraseña">
              </div>

            
        </section>
        <div class="div__button">
        
            <button type="submit">Enviar</button>
                
        </div>
    </form>

</main>