@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --Amarillo: #EAC926;
    --Azul: #03264C;
    --Celeste: #1259c3;
    --Gris-oscuro: #666;
    --Gris-claro: #ebebeb;
    --Verde: #39b54a;
    }

*{
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

main{
    margin: auto;
    width: 90%;
    }
    

nav ul{
    margin: 0;
    padding: 0;
}

