.home__body {
    background-color: var(--Gris-claro);

}



.home__articulos article{
    margin-bottom: 5%;
}

.home__articulos__nombre {
    background-color: white;
}

.home__articulos h3 {
    font-size: 24px;
    color: var(--Gris-oscuro);
    margin: 10px
}

.article__precio {
    font-size: 18px;
    font-weight: 550;
    width: 30%;
    margin: 0 auto
}

.article__descuento {
    font-size: 16px;
    color: var(--Verde);
    width: 70%;
    text-align: left;
    margin: 0 auto;
}

.home__articulos__detalles {
    background-color: white;
    border-top: 1px solid #ebebeb;
    padding: 15px;
    position: relative;
    display: flex;
    
    
}

.home__articulos div i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    color: #39b54a;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

.home__articulos h4 {
    font-size: 16px;
    font-weight: bold;
    display: none;
    padding: 10px;
}

/* Tablet */

@media(min-width: 768px) {
    .home__articulos article {

        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        display:flex;
        flex-direction: column;        
        width: 45%;
        padding: auto;
    }

    .home__articulos h4 {
        display: block;
    }
.articulos__fila-uno, .articulos__fila-dos{
    display: flex;
    justify-content: space-around;
}


   
    


    
    
}

/* Desktop */

@media(min-width: 1024px) {

    .home__articulos section .home__main__article__tres,
    .home__main__article__cuatro {
        display: block;
        margin: 0px 0px 0px 50px;
    }

    .home__articulos {
        width: 90%;
        margin: 0 auto
    }

    .home__articulos section {
        display: flex;
        justify-content: space-around;
    }

    .article__descuento {
        margin-left: 30px;
        
    }
}