.main__section{
    background-color: var(--Gris-claro);
    
}

.main__section h1{
    text-align: center;
    padding: 20px 0;
}

.main__section form{
    display: flex;
    flex-direction: column;
}
.main__section__form--label{
    padding: 10px;
    margin: 10px;
}
.main__section__form__input{
    border-radius: 5px;
    border: solid 1px var(--Celeste);
    padding: 10px;
    
}
.div__button{
    background-color: var(--Gris-claro);
    padding-bottom: 100px;

}

.div__button button{
    margin: 15px;
    padding: 15px 30px;
    border-radius: 15px;
    color: #fff;
    background-color: var(--Gris-oscuro);
    transition: background-color 3s;
}

.div__button button:hover{
    background-color: #0022AA;
}